// Add your own custom styles here
.blog-card-image {
    max-width: 100%; /* Ensure it scales down with the container */
    max-height: 300px; /* Set your desired max height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the set dimensions without stretching */
  }

// Blog card titles (h2) should be smaller than default h2
.bg-body h2 {
  @apply text-xl font-semibold !important;
  line-height: 1.4 !important;
}

// Article content headers can be normal sizes
article .content {
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h3 {
    @apply text-xl md:text-2xl font-semibold;
  }
  h4 {
    @apply text-lg md:text-xl font-semibold;
  }
}
  